*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f2e8d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
}
.Countdown {
    width: auto;
    position: fixed;
    top: -1%;
    padding: 20px;
    margin: 2.5px;
    font-size: large;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: loading 4s ease-in-out 3ms infinite alternate forwards;
    border-radius: 30px;
}
#countdown-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pair{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    background-color: goldenrod;
    font-size: large;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: block;
    margin: 0px auto;
    max-width: 100%;
    width: 200%;
    height: 100vh;
}


.center-txt{
    text-align: center;
    font-weight: 400;
    font-size: medium;
    letter-spacing: 0.15em;
    margin-top: 5px;
    color: white;
}
